PORT=3000
NODE_ENV=development

# MAIL
MAILTRAP_PASS=<your-mailtrap-password>
MAILTRAP_USER=<your-mailtrap-user>
GMAIL_PASS=<your-gmail-password>
GMAIL_USER=<your-gmail-user>
MAIL_ACCOUNT=<your-mail-account>

# SITE
NEXT_PUBLIC_BASE_URL=https://obiski.dev
NEXT_PUBLIC_CONTACT_ADDRESS=contact@obiski.dev
NEXT_PUBLIC_MAILING_ADDRESS=hello@obiski.dev

# ANALYTICS
NEXT_PUBLIC_GA_ID=<your-google-analytics-measurement-id-eg-G-XXXXXXXXXX>